* {
	margin: 0;
	padding: 0;
}
.conteiner {
	width: 1500px;
	margin: 0 auto;
	background-color: #f8f8f8;
	display: flex;
	flex-wrap: wrap;
}
/*Шапка сайта*/
.header {
	background-color: #abeafa;
	width: 1500px;
	height: 700px;
}
.logo {
	width: 125px;
	height: 111px;
	margin-top: 24px;
	margin-left: 234px;
	float: left;
}
/*социальные иконки в верхнем правом углу*/
.social {
	width: 100px;
	height:16px;
	float: right;
	margin-top: 51px;
}
.social_icon {
	width: 16px;
	height: 16px;
	background-image: url('img/sprite2.png');
	display: inline-block;
}
.facebook {
	background-position: 3px 0px;
}
.twitter {
	background-position: -13px 0px;
}
.youtube {
	background-position: -26px 0px;
}
.pinterest {
	background-position: -38.3px 0px;
}
.insta {
	background-position: -50px 0px;
}
/*не разобралась со прайтами и почему ускакал желтый блок.
получается у спрайтов плохое качество. Лучше сообрази как сделать 
с первым вариантом спрайта*/
.clearfix {
	clear: both;
}
.welcome {
	width: 270px;
	height: 300px;
	background-color: #fff51f;
}
.banner {
	width: 313px;
	height: 286px;/*не точно*/
}
/*Обертка*/
.wrapper {
	width: 1170px;
	margin: 0 auto;
}
/*меню*/
.aside {
	width: 270px;
	height: 805px;/*высота может быть другой!*/
	float: left;
}
/*Обертка для товаров*/
.content {
	width: 870px;
	height: 1656px;/*высота может быть другой!*/
	float: right;
}
.brand {
	width: 100%;
	height: 160px;
	float: left;
}
.instagramm {
	width: 100%;
	height: 350px;
}
.social_button {
	width: 100%;
	height: 150px;
}
/*футтер*/
.footer {
	width: 100%;
	height: 348px;
	background-color: #373737;
	align-self: flex-end;
}