@font-face {
	font-family: 'Raleway-Bold';
	src: url(fonts/Raleway-Bold.ttf);
}
@font-face {
	font-family: 'Raleway';
	src: url(fonts/Raleway-Regular.ttf);
}
@font-face {
	font-family: 'Raleway-BoldItalic';
	src: url(fonts/Raleway-BoldItalic.ttf);
}
@font-face {
	font-family: 'Roboto';
	src: url(fonts/Roboto-Black.ttf);
}
* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
li {
	list-style-type: none;
}
.conteiner {
	width: 1500px;
	margin: 0 auto;
	background-color: #f8f8f8;
	display: flex;
	flex-wrap: wrap;
}
/*Шапка сайта*/
.header {
	background-color: #abeafa;
	width: 1500px;
	height: 700px;
}
.logo {
	width: 125px;
	height: 111px;
	margin-top: 24px;
	margin-left: 234px;
	float: left;
}
/*социальные иконки в верхнем правом углу*/
.social {
	width: 120px;
	height:16px;
	float: right;
	margin-top: 51px;
	margin-right: 229px;
}
.social_icon {
	width: 16px;
	height: 16px;
	background-image: url('img/iconmini.png');
	display: inline-block;
	margin-left: 6px;
}
/*наверное, лучше прописать 
марджин каждой иконке для пиксельпёфект*/
.facebook {
	background-position: 0px 0px;
	margin-left: 0px;
}
.twitter {
	background-position: -24px 0px;
	margin-left: 5px;
}
.youtube {
	background-position: -50px 0px;
}
.pinterest {
	background-position: -78px 0px;
}
.insta {
	background-position: -104px 0px;
}
.clearfix {
	clear: both;
}
/*Желтый блок слева в шапке*/
.welcome {
	width: 270px;
	height: 300px;
	background-color: #fff51f;
	margin-top: 201px;
	margin-left: 165px;
	float: left;

}
.welcome_msg {
	font-family: 'Raleway-Bold', 'Arial', sans-serif;
	color: #333333;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	text-align: left;
	display: block;
	padding: 79px 0 0 24px;
}
.welcome_mini {
	font-family: 'Raleway-Bold', 'Arial', sans-serif;
	color: #333333;
	font-size: 18px;
	font-weight: 700;
	line-height: 14px;
	text-align: left;
	font-style: italic;
	padding: 20px 29px 82px 20px;
}
/*блок справа с текстом*/
.banner {
	width: 315px;
	height: 286px;/*не точно*/
	float: right;
	margin: 108px 274px 0 0; /*расположить правильно верх-низ*/
}
.banner_msg {
	font-family: 'Raleway-Bold', 'Arial', sans-serif;
	color: #fff51f;
	font-size: 48px;
	font-weight: 700;
	line-height: 34px;
}
.banner_mini {
	font-family: 'Raleway', 'Arial', sans-serif;
	color: #fff51f;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	margin-top: -3px;
}
/*Посмотри стилизацию затемнение и засветлить на процент тона*/
.button_buy {
	width: 124px;
	height: 49px;
	display: block;
	background-color: #fff51f;
	font-family: 'Raleway-Bold', 'Arial', sans-serif;
	color: #000000;
	font-size: 14px;
	font-weight: 800;
	text-decoration: none;
	text-align: center;
	line-height: 49px;
	margin: 62px 0 0 3px;
}
.button_buy:hover {
	background-color: #000000;
	color: #fff51f;
}
/*Обертка*/
.wrapper {
	width: 1170px;
	margin: 0 auto;
}
/*меню*/
.aside {
	width: 270px;
	height: 805px;/*высота может быть другой!*/
	float: left;
}
.title {
	width: 270px;
	height: 66px;
	background-color: #333333;
	margin-top: -20px;
}
.title_menu {
	font-family: 'Roboto', 'Arial', sans-serif;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 32px;
	text-align: left;
	display: block;
	padding: 21px 0px 0px 41px;
}
.menu {
	width: 270px;
	height: 409px;
	background-color: #26d2fc;
}
.menu_item {
	width: 100%;
	height: 37px;
	display: block;
	font-family: 'Roboto';
	color: #000000;
	font-size: 14px;
	font-weight: 900;
	line-height: 36px;
	text-align: left;
	text-indent: 40px;
}
.menu_item:hover {
	background-color: #333333;
	color: #ffffff;
}
/*Обертка для товаров*/
.content {
	width: 870px;
	height: 1656px;/*высота может быть другой!*/
	float: right;
}
.brand {
	width: 100%;
	height: 160px;
	float: left;
}
.instagramm {
	width: 100%;
	height: 350px;
}
.social_button {
	width: 100%;
	height: 150px;
}
/*футтер*/
.footer {
	width: 100%;
	height: 348px;
	background-color: #373737;
	align-self: flex-end;
}